<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EBerasPadang"
        tools:targetApi="33">

        <activity
            android:name=".ui.auth.AuthCheckerActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.RoleSelectionActivity" android:exported="false" />
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.RegisterActivity" android:exported="false" />

        <activity android:name=".ui.consumer.HomeActivity" android:exported="false" />
        <activity android:name=".ui.consumer.CartActivity" android:exported="false" />
        <activity android:name=".ui.consumer.ProductDetailActivity" android:exported="false" />
        <activity android:name=".ui.consumer.CheckoutActivity" android:exported="false" />
        <activity android:name=".ui.consumer.OrderHistoryActivity" android:exported="false" />
        <activity android:name=".ui.consumer.ProfileActivity" android:exported="false" />
        <activity android:name=".ui.consumer.OrderDetailConsumerActivity" android:exported="false" />
        <activity android:name=".ui.consumer.EditProfileActivity" android:exported="false" />
        <activity android:name=".ui.consumer.NotificationActivity" android:exported="false" />

        <activity android:name=".ui.seller.SellerDashboardActivity" android:exported="false" />
        <activity android:name=".ui.seller.ManageProductActivity" android:exported="false" />
        <activity android:name=".ui.seller.MyProductsActivity" android:exported="false" />
        <activity android:name=".ui.seller.OrderDetailSellerActivity" android:exported="false" />
        <activity android:name=".ui.seller.SellerProfileActivity" android:exported="false" />
        <activity android:name=".ui.seller.EditSellerProfileActivity" android:exported="false" />
        <activity android:name=".ui.seller.SellerNotificationActivity" android:exported="false" />


    </application>

</manifest>